html, body {
  background-color: #F3F1F1;
  padding: 0px;
  margin: 0px;
}

.navigation {
  padding-left: 2%;
  padding-right: 2%;
}

.logo {
  width: 14vh;
  height: 14vh;
}

.first {
  width: 100%;
  height: 100vh;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.mainLogo {
  display: flex;
  justify-self: center;
}

.slogan {
  text-align: center;
}

.second {
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 0px;
  margin: 0px;
  color: white;
}

.third {
  width: 100%;
  height: 80vh;
  background-color: #70509d;
  padding: 0px;
  margin: 0px;
}

.projDisplay {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.projImg {
  width: 35vh;
  height: 35vh;
  padding: 5%;
}

.projContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projTitle {
  padding-top: 2%;
  margin: 0px;
  color: white;
  font-size: 32px;
  text-align: center;
}

.projDesc {
  color: white;
  font-size: 18;
  text-align: center;
}

.client1 {
  height: 100px;
  display: flex;
  justify-content: flex-start;
}

.client1 .clientInfo {
  order: 2;
  text-align: center;
}

.client1 .clientTestimonial {
  order: 1;
  flex-grow: 1;
  text-align: left;
}

.client2 {
  height: 100px;
  display: flex;
  justify-content: flex-end;
}

.client2 .clientInfo {
  order: 1;
  text-align: center;
}

.client2 .clientTestimonial {
  order: 2;
  flex-grow: 1;
  text-align: right;
}
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  min-width: 160px;
  text-align:right;
  background-color: #F3F1F1;
}

.dropdown {
  position: relative;
  display: block;
  padding-top: 2%;
  background-color: #F3F1F1;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  text-align: right;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}
.dropdown-content a:hover{
  background-color: #A9A9A9;
}
.dropbtn:hover{
  background-color: #A9A9A9;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: inline;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
.gg-chevron-down::after {
    content: "";
    display: inline;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px
}

.grid {
    display: grid;
    width: 95%;
    padding: 0px 0px 0px 0px;
    margin:auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px;
    gap: 20px;
}

.avatar {
    background-color: white;
    border-radius: 500px;
    max-height: 150px;
    object-fit: contain;    
}