/*Ketu's font*/
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');
/* Main p */
html, body {
  background-color: #F3F1F1;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

/* Navbar */
.navigation {
  padding-left: 2%;
  padding-right: 2%;
}

.logo {
  width: 14vh;
  height: 14vh;
}

/* Take up entire screen */
.first {
  width: 100%;
  height: 100vh;
}

.slogan {
  font-family: fantasy;
  font-size: 52px;
  color: #bf80ff;
}

/* Landing Styles */

.logoContainer {
  display: flex;
  justify-content: center;
}

.mainLogo {
  display: flex;
  justify-self: center;
}

.slogan {
  text-align: center;
}

/* Second section */

.second {
  width: 100%;
  height: 110vh;
  background-color:	#708090;
  padding: 0px;
  margin: 0px;
  color: white;
}

/* Third section */

.third {
  width: 100%;
  height: 110vh;
  background-color: #70509d;
  padding: 0px;
  margin: 0px;
}

/* Fourth section */

.fourth {
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: 0px;
  margin: 0px;
}

/* Project card styles */

.projDisplay {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.projImg {
  width: 35vh;
  height: 35vh;
  padding: 5%;
}

.projContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  margin: 0px;
}

.projMainTitle { /*larger font*/
  padding-top: 2%;
  margin: 0px;
  color: white;
  font-size: 50px;
  text-align: center;
}

.projTitle {
  padding-top: 2%;
  margin: 0px;
  color: white;
  font-size: 32px;
  text-align: center;
}

.projDesc {
  color: white;
  font-size: 18px;
  text-align: center;
}

/* Testimonial Styles */

.clientsTitle {
  padding-top: 2%;
  margin: 0px;
  font-size: 50px;
  text-align: center;
}

.clientImg {
  margin-top: 40px;
}

.clientInfo {
  text-align: center;
}

.clientName {
  font-size: 30px;
  margin: 5px 0 0 0;
}

.clientCompany {
  margin: 5px 0 0 0;
}

.clientTestimonial {
  width: 800px;
  font-size: 25px;
  border: 2px solid gray;
  border-radius: 20px;
  text-align: center;
  padding-left: 2vh;
  padding-right: 2vh;

  /*center text vertically & horizontally*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.client1 {
  height: 250px;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 30px;
}

.client1 .clientInfo {
  order: 2;
  margin-right: 200px;
}

.client1 .clientTestimonial {
  order: 1;
  margin-left: 200px;
}

.client2 {
  height: 250px;
  display: flex;
  justify-content: space-around;
}

.client2 .clientInfo {
  order: 1;
  text-align: center;
  margin-left: 200px;
}

.client2 .clientTestimonial {
  order: 2;
  margin-right: 200px;
}

/* Dropdown Styles */

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  min-width: 160px;
  text-align:right;
  background-color: #F3F1F1;
}

.dropdown {
  position: relative;
  display: block;
  padding-top: 2%;
  background-color: #F3F1F1;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  text-align: right;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  background-color: #A9A9A9;
}

.dropbtn:hover{
  background-color: #A9A9A9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Grid layout styles */

.grid {
  display: grid;
  padding: 0px 0px 0px 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  row-gap: 50px;
  column-gap: 20px;
}

.avatar {
  background-color: white;
  border-radius: 100%;
  max-height: 150px;
  max-width: 150px;
  object-fit: contain;
}
.item {
  display:flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.teamTitle {
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  color: #bf80ff;
}
.name {
  font-size: 1.8em;
  margin-top: 10px;
  font-weight: 500;
}

/* Bhavesh Styles */

.bajajb {
  text-align: center;
  background-color: rgb(238, 218, 230);
  color: rgb(95, 55, 80);
}

.bajajb_title {
  font-size: 50px;
}

.bajajb_details_1 {
  margin-bottom: 6em;
}

.bajajb_link {
  color: rgb(131, 77, 110);
}

.bajajb_link:hover {
  color: rgb(165, 101, 141)
}

.bajajb_link:active {
  color: rgb(95, 55, 80);
}

.bajajb_objective {
  margin: 0px 50px 0 50px;
}

.bajajb_details_2 {
  display: flex;
  justify-content: space-around;
  height: 475px;
}

.bajajb_items_container {
  line-height: 20px;
  width: 300px;
  height: 410px;
  border: 3px solid rgb(160, 87, 130);
  border-radius: 20px;
}

.bajajb_items_container h2 {
  margin-top: 10px;
}

.bajajb_item {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bajajb_item h3 {
  margin-bottom: 5px;
}

.bajajb_item p {
  margin: 5px 2px 5px 2px;
}

/* Simar Styles */

.simar_noMargin {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.simar_noMargin h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.simar_noFmt {
  color: inherit;
  text-decoration: none;
}

.simar_noMargin ul {
  list-style: none;
}

.simar_noMargin li {
  padding-left: 1em;
  text-indent: -1em;
  font-weight: 100;
}

.simar_noMargin li::before {
  content: "+";
  padding-right: 2vh;
  color: green;
  font-weight: 700;
}

.simar_landing {
  width: 100%;
  height: 100vh;
  background-color: #323232;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing_title {
  color: transparent;
}

.simar_landing_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.simar_landingContainer {
  display: flex;
  justify-content: space-evenly;
}

.simar_name {
  color: white;
  font-size: 96px;
}

.simar_statement {
  color: #9A9A9A;
  font-size: 32px;
  padding-bottom: 4vh;
}

.simar_contact {
  display: flex;
  color: white;
  justify-content: space-between;
}

.simar_rounded {
  width: 10vh;
  height: 10vh;
}

.simar_pfp {
  width: 30vh;
  height: 30vh;
  border-radius: 100%;
}

.simar_gap {
  width: 10vh;
  height: 50px;
}

.simar_btmChev {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 2vh;
  color: white;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
}

.simar_edu {
  width: 100%;
  height: 100vh;
  background-color: #709AB1;
}

.simar_eduTitle {
  font-size: 72px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  padding-top: 2vh;
}

.simar_schools {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.simar_school {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.simar_school_logo {
  width: 25vh;
  height: 25vh;
}

.simar_space {
  width: auto;
  height: 1px;
}

.simar_txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.simar_exp {
  width: 100%;
  height: 100vh;
  background-color: #374785;
  padding-left: 1vh;
}

.simar_expTitle {
  color: white;
  font-size: 48px;
  padding-top: 3vh;
  margin-bottom: 100px;
}

.simar_cards {
  display: flex;
  justify-content: space-between;
}

.simar_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  max-width: 20%;
}

.simar_companyLogo {
  width: 15vh;
  height: 15vh;
}

.simar_wrkTitle {
  font-size: 64px;
  padding: 4px;
}

.simar_org {
  font-size: 24px;
  padding: 8px;
}

.simar_det {
  font-size: 16px;
  padding: 8px;
}

.simar_date {
  font-size: 12px;
  color: grey;
}

.simar_skills {
  width: 100%;
  height: 100vh;
  background-color: #E0E0E0;
}

.simar_skillTitle {
  font-size: 72px;
  text-align: center;
  padding-top: 12vh;
}

.simar_list {
  padding-top: 3vh;
  display: flex;
  justify-content: space-evenly;
  font-size: 48px;
}
/* does css for my bio box*/
#Bio{
  width:98%;
  padding: 10px;
  border:2px solid #000;
  border-radius: 15px;
  background-color: red;
  height: 98%;
}
/* alligns text*/
#Titleb{
  text-align: center;
}
/*puts the image into a box*/

.jimg{
  width:40%;
  height: 40%;
  padding: 10px;
  border:2px solid #000;
  border-radius: 15px;
  background-color: green;
  display: inline-grid;
}
/*puts education into a box*/
.jEd{
  width:60%;
  padding: 10px;
  border:2px solid #000;
  border-radius: 15px;
  background-color: green;
  height: 100%;
}
/*alligns text*/
.jt{
  text-align: center;
}
/*Lest me change the dispal manegment for some goups to put them on the smae line*/
.fix{
  display: flex;
}
/*lines up experiance*/
.Jexp{
  width:59%;
  padding: 10px;
  border:2px solid #000;
  border-radius: 15px;
  background-color: blue;
  height: 330px;
  display: inline-grid;
}
/*Lines up work*/
.jwork{
  width:40%;
  padding: 10px;
  border:2px solid #000;
  border-radius: 15px;
  background-color: red;
  height: 400px;
  display: inline-grid;
}

.ketu_body{
  background-color: #eedae6;
}
.ketu_name{
  font-family: 'Tinos', serif;
    display: block;
    text-align: center;
    font-size: 5em;
    color: white;
}
.ketu_contact-info{
  border-radius: 25px;
  background: white;
  padding: 30px;
  width: 92%;
  margin:auto;
  margin-bottom: 10px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}
.ketu_contact{
  display: inline;
  margin-top: -10px;
  font-size: 2em;
}
/*gives structure for page*/
.ketu_container{
  display: grid;
  width: 95%;
  padding: 5px 5px 5px 5px;
  margin:auto;
  background-color: #eedae6;
  grid-template-columns: 20% auto;
  grid-template-rows: auto auto;
  gap: 20px;
}
/*Gives structure to both columns in container*/
.ketu_split{
  display: flex;
  margin-bottom: 0px;
  flex-direction: column;
  gap: 20px;
  min-height: fit-content;
}
img[src*="Ketu_Patel_photo.jpg"]{
  margin: 0px;
  max-width: 130%;
  max-height: 130%;
  position: relative; 
  right: 15%;
  object-fit: contain;
}
.ketu_image {
  background-color: white;
  border-radius: 25px;
  min-width: 250px;
  max-height: 45vh;
  overflow: hidden;
}  
.ketu_objective {
  background-color: white;
  padding: 5px 5px 5px 5px;
  height: auto;
  border-radius: 25px;
}  
.ketu_education {
  min-height: 150px;
  height:auto;
  padding: 5px 5px 5px 5px;
  background-color: white;
  border-radius: 25px;
}  
.ketu_skills {
  background-color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 25px;
  display:flex;
  flex-direction:column;
}
.ketu_work {
  background-color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 25px;
  display:flex;
  flex-direction: column;
}
/*Places info on same line*/
.ketu_line{
  display: flex;
  justify-content: space-between;
}
.ketu_details {
  padding-bottom: 10px;
}
.ketu_skillList{
  margin-left:25px;
}
.ketu_jobTitle {
  font-size: x-large;
}