html, body {
  background-color: #F3F1F1;
  padding: 0px;
  margin: 0px;
}

.navigation {
  padding-left: 2%;
  padding-right: 2%;
}

.logo {
  width: 14vh;
  height: 14vh;
}

.first {
  width: 100%;
  height: 100vh;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.mainLogo {
  display: flex;
  justify-self: center;
}

.slogan {
  text-align: center;
}

.second {
  width: 100%;
  height: 110vh;
  background-color:	#708090;
  padding: 0px;
  margin: 0px;
  color: white;
}

.third {
  width: 100%;
  height: 90vh;
  background-color: #70509d;
  padding: 0px;
  margin: 0px;
}

.fourth {
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: 0px;
  margin: 0px;
}

.projDisplay {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.projImg {
  width: 35vh;
  height: 35vh;
  padding: 5%;
}

.projContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projMainTitle { /*larger font*/
  padding-top: 2%;
  margin: 0px;
  color: white;
  font-size: 50px;
  text-align: center;
}

.projTitle {
  padding-top: 2%;
  margin: 0px;
  color: white;
  font-size: 32px;
  text-align: center;
}

.projDesc {
  color: white;
  font-size: 18;
  text-align: center;
}

.clientsTitle {
  padding-top: 2%;
  margin: 0px;
  font-size: 50px;
  text-align: center;
}

.clientImg {
  margin-top: 40px;
}

.clientInfo {
  text-align: center;
}

.clientName {
  font-size: 30px;
  margin: 5px 0 0 0;
}

.clientCompany {
  margin: 5px 0 0 0;
}

.clientTestimonial {
  width: 800px;
  font-size: 25px;
  border: 2px solid gray;
  border-radius: 20px;
  text-align: center;

  /*center text vertically & horizontally*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.client1 {
  height: 250px;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.client1 .clientInfo {
  order: 2;
  margin-right: 200px;
}

.client1 .clientTestimonial {
  order: 1;
  margin-left: 200px;
}

.client2 {
  height: 250px;
  display: flex;
  justify-content: space-around;
}

.client2 .clientInfo {
  order: 1;
  text-align: center;
  margin-left: 200px;
}

.client2 .clientTestimonial {
  order: 2;
  margin-right: 200px;
}
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  min-width: 160px;
  text-align:right;
  background-color: #F3F1F1;
}

.dropdown {
  position: relative;
  display: block;
  padding-top: 2%;
  background-color: #F3F1F1;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  text-align: right;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
  background-color: #A9A9A9;
}
.dropbtn:hover{
  background-color: #A9A9A9;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  display: inline;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px
}
.gg-chevron-down::after {
  content: "";
  display: inline;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px
}

.grid {
  display: grid;
  padding: 0px 0px 0px 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  row-gap: 50px;
  column-gap: 20px;
}

.avatar {
  background-color: white;
  border-radius: 100%;
  max-height: 150px;
  max-width: 150px;
  object-fit: contain;  
}
.item {
  display:flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.teamTitle {
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  color: #bf80ff;
}
.name {
  font-size: 1.8em;
  margin-top: 10px;
  font-weight: 500;
}

.bajajb {
  text-align: center;
  background-color: rgb(238, 218, 230);
  color: rgb(95, 55, 80);
}

.bajajb_title {
  font-size: 50px;
}

.bajajb_details_1 {
  margin-bottom: 7.6em;
}

.bajajb_email {
  color: rgb(131, 77, 110);
}

.bajajb_email:hover {
  color: rgb(165, 101, 141)
}

.bajajb_email:active {
  color: rgb(95, 55, 80);
}

.bajajb_objective_title {
  font-size: 30px;
}

.bajajb_details_2 {
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.bajajb_items_container {
  line-height: 5px;
  width: 300px;
  height: 250px;
  border: 3px solid rgb(160, 87, 130);
  border-radius: 20px;
}