#Bio{
  width:500px;
  padding: 10px;
  border:2px solid #000;
  border-radius: 15px;
  background-color: #8E53E5;
  height: 200px;
}
#Titleb{
  text-align: center;
}
#pic{
  width:200px;
  height: 200px;
  padding: 10px;
  border:2px solid #000;
  border-radius: 15px;
  background-color: #8E53E5;

}
